{% extends 'base.html' %}

{% block content %}
<p><a href= {{ url_for('index') }}>Home</a></p>
<hr>
<form action={{ url_for('search')}} method="POST">
    <input type="search" name="search" id="" required placeholder="請輸入暱稱...">
    <input type="submit" name="submit" value="搜尋">
</form><br>
<hr><br>
<div>   
    {% for txt in nick_txt %}
    <div>
        <p>{{ txt.txt }}-{{ txt.nick.name }}</p>
        <p>{{ moment(txt.nowtime).format('LLL') }}-{{ moment(txt.nowtime).fromNow() }}</p>
    </div>
    {% endfor %}    
</div>
{% endblock %}